body{
    background-color: darkgray;
}

.nav {
    width: 100vw;
    height: 45px;
    background-color: grey  ;
    box-shadow: 0 0 18px 5px grey;
}

ul{
    width: 100vw;
    padding: 10px;
    text-align: center;
}

ul li{
    margin-left: 3vw;
    display: inline-block;
}

a{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start
;
}